QuestoesAdminGUI/src/META-INF/wsdl/localhost_4200/WebService/WebServiceMain.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutenticarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutenticarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AutenticarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncerrarPartida">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nivelDificuldade" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="respostasXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EncerrarPartidaResponse">
        <s:complexType />
      </s:element>
      <s:element name="RecuperarSenha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecuperarSenhaResponse">
        <s:complexType />
      </s:element>
      <s:element name="AlterarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginAtual" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senhaAtual" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="novoNome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="novoLogin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="novaSenha" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="novoEmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlterarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AlterarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CriarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CriarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CriarUsuarioResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestoes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nivelDificuldade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestoesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestoesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQuestoesRespostas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nivelDificuldade" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestoesRespostasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestoesRespostasResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InserirTaxonomia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InserirTaxonomiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InserirTaxonomiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegarTaxonomia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegarTaxonomiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PegarTaxonomiaResult" type="tns:Taxonomia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Taxonomia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="T_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="T_Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemTaxonomias" type="tns:ArrayOfItemTaxonomia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfItemTaxonomia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemTaxonomia" nillable="true" type="tns:ItemTaxonomia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemTaxonomia">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IT_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IT_Descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="T_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TrechoDefeitos" type="tns:ArrayOfTrechoDefeito" />
          <s:element minOccurs="0" maxOccurs="1" name="Taxonomia" type="tns:Taxonomia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTrechoDefeito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TrechoDefeito" nillable="true" type="tns:TrechoDefeito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TrechoDefeito">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="D_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IT_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="D_Explicacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="D_Conteudo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Questao_TrechoDefeitos" type="tns:ArrayOfQuestao_TrechoDefeito" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemTaxonomia" type="tns:ItemTaxonomia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfQuestao_TrechoDefeito">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Questao_TrechoDefeito" nillable="true" type="tns:Questao_TrechoDefeito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Questao_TrechoDefeito">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Q_TD_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Q_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TD_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="respondido" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Questao" type="tns:Questao" />
          <s:element minOccurs="0" maxOccurs="1" name="TrechoDefeito" type="tns:TrechoDefeito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Questao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Q_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Q_NIVEL_DIFICULDADE" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Q_XML" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Q_TEMPO" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MotivoErroId" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Historico_Questaos" type="tns:ArrayOfHistorico_Questao" />
          <s:element minOccurs="0" maxOccurs="1" name="Questao_TrechoDefeitos" type="tns:ArrayOfQuestao_TrechoDefeito" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHistorico_Questao">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Historico_Questao" nillable="true" type="tns:Historico_Questao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Historico_Questao">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="H_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="P_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Q_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="H_QTD_ACERTO" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="H_QTD_ERRO" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Partida" type="tns:Partida" />
          <s:element minOccurs="0" maxOccurs="1" name="Questao" type="tns:Questao" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Partida">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="P_ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="U_ID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="P_DATA" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="P_NIVEL_DIFICULDADE" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="P_PONTUACAO_TOTAL" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Historico_Questaos" type="tns:ArrayOfHistorico_Questao" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="U_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="U_NOME" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="U_EMAIL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="U_SENHA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="U_LOGIN" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Partidas" type="tns:ArrayOfPartida" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPartida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Partida" nillable="true" type="tns:Partida" />
        </s:sequence>
      </s:complexType>
      <s:element name="PegarTaxonomias">
        <s:complexType />
      </s:element>
      <s:element name="PegarTaxonomiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PegarTaxonomiasResult" type="tns:ArrayOfTaxonomiaEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTaxonomiaEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TaxonomiaEntity" nillable="true" type="tns:TaxonomiaEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TaxonomiaEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeletarTaxonomias">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taxonomia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletarTaxonomiasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletarTaxonomiasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegarItemsTaxonomia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taxonomia_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PegarItemsTaxonomiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PegarItemsTaxonomiaResult" type="tns:ArrayOfItemTaxonomiaEntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItemTaxonomiaEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ItemTaxonomiaEntity" nillable="true" type="tns:ItemTaxonomiaEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ItemTaxonomiaEntity">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="T_ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AdicionarItemTaxonomia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taxonomia_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descricao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarItemTaxonomiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AdicionarItemTaxonomiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletarItemTaxonomia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="taxonomia_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletarItemTaxonomiaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletarItemTaxonomiaResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarQuestao">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="questao" type="tns:Questao" />
            <s:element minOccurs="0" maxOccurs="1" name="tdList" type="tns:ArrayOfTrechoDefeito" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdicionarQuestaoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutenticarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="AutenticarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EncerrarPartidaSoapIn">
    <wsdl:part name="parameters" element="tns:EncerrarPartida" />
  </wsdl:message>
  <wsdl:message name="EncerrarPartidaSoapOut">
    <wsdl:part name="parameters" element="tns:EncerrarPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperarSenhaSoapIn">
    <wsdl:part name="parameters" element="tns:RecuperarSenha" />
  </wsdl:message>
  <wsdl:message name="RecuperarSenhaSoapOut">
    <wsdl:part name="parameters" element="tns:RecuperarSenhaResponse" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:AlterarUsuario" />
  </wsdl:message>
  <wsdl:message name="AlterarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:AlterarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CriarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CriarUsuario" />
  </wsdl:message>
  <wsdl:message name="CriarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CriarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestoesSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestoes" />
  </wsdl:message>
  <wsdl:message name="GetQuestoesSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestoesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestoesRespostasSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestoesRespostas" />
  </wsdl:message>
  <wsdl:message name="GetQuestoesRespostasSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestoesRespostasResponse" />
  </wsdl:message>
  <wsdl:message name="InserirTaxonomiaSoapIn">
    <wsdl:part name="parameters" element="tns:InserirTaxonomia" />
  </wsdl:message>
  <wsdl:message name="InserirTaxonomiaSoapOut">
    <wsdl:part name="parameters" element="tns:InserirTaxonomiaResponse" />
  </wsdl:message>
  <wsdl:message name="PegarTaxonomiaSoapIn">
    <wsdl:part name="parameters" element="tns:PegarTaxonomia" />
  </wsdl:message>
  <wsdl:message name="PegarTaxonomiaSoapOut">
    <wsdl:part name="parameters" element="tns:PegarTaxonomiaResponse" />
  </wsdl:message>
  <wsdl:message name="PegarTaxonomiasSoapIn">
    <wsdl:part name="parameters" element="tns:PegarTaxonomias" />
  </wsdl:message>
  <wsdl:message name="PegarTaxonomiasSoapOut">
    <wsdl:part name="parameters" element="tns:PegarTaxonomiasResponse" />
  </wsdl:message>
  <wsdl:message name="DeletarTaxonomiasSoapIn">
    <wsdl:part name="parameters" element="tns:DeletarTaxonomias" />
  </wsdl:message>
  <wsdl:message name="DeletarTaxonomiasSoapOut">
    <wsdl:part name="parameters" element="tns:DeletarTaxonomiasResponse" />
  </wsdl:message>
  <wsdl:message name="PegarItemsTaxonomiaSoapIn">
    <wsdl:part name="parameters" element="tns:PegarItemsTaxonomia" />
  </wsdl:message>
  <wsdl:message name="PegarItemsTaxonomiaSoapOut">
    <wsdl:part name="parameters" element="tns:PegarItemsTaxonomiaResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarItemTaxonomiaSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarItemTaxonomia" />
  </wsdl:message>
  <wsdl:message name="AdicionarItemTaxonomiaSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarItemTaxonomiaResponse" />
  </wsdl:message>
  <wsdl:message name="DeletarItemTaxonomiaSoapIn">
    <wsdl:part name="parameters" element="tns:DeletarItemTaxonomia" />
  </wsdl:message>
  <wsdl:message name="DeletarItemTaxonomiaSoapOut">
    <wsdl:part name="parameters" element="tns:DeletarItemTaxonomiaResponse" />
  </wsdl:message>
  <wsdl:message name="AdicionarQuestaoSoapIn">
    <wsdl:part name="parameters" element="tns:AdicionarQuestao" />
  </wsdl:message>
  <wsdl:message name="AdicionarQuestaoSoapOut">
    <wsdl:part name="parameters" element="tns:AdicionarQuestaoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMainSoap">
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input message="tns:AutenticarUsuarioSoapIn" />
      <wsdl:output message="tns:AutenticarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EncerrarPartida">
      <wsdl:input message="tns:EncerrarPartidaSoapIn" />
      <wsdl:output message="tns:EncerrarPartidaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <wsdl:input message="tns:RecuperarSenhaSoapIn" />
      <wsdl:output message="tns:RecuperarSenhaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <wsdl:input message="tns:AlterarUsuarioSoapIn" />
      <wsdl:output message="tns:AlterarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CriarUsuario">
      <wsdl:input message="tns:CriarUsuarioSoapIn" />
      <wsdl:output message="tns:CriarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestoes">
      <wsdl:input message="tns:GetQuestoesSoapIn" />
      <wsdl:output message="tns:GetQuestoesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestoesRespostas">
      <wsdl:input message="tns:GetQuestoesRespostasSoapIn" />
      <wsdl:output message="tns:GetQuestoesRespostasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InserirTaxonomia">
      <wsdl:input message="tns:InserirTaxonomiaSoapIn" />
      <wsdl:output message="tns:InserirTaxonomiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomia">
      <wsdl:input message="tns:PegarTaxonomiaSoapIn" />
      <wsdl:output message="tns:PegarTaxonomiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomias">
      <wsdl:input message="tns:PegarTaxonomiasSoapIn" />
      <wsdl:output message="tns:PegarTaxonomiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarTaxonomias">
      <wsdl:input message="tns:DeletarTaxonomiasSoapIn" />
      <wsdl:output message="tns:DeletarTaxonomiasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PegarItemsTaxonomia">
      <wsdl:input message="tns:PegarItemsTaxonomiaSoapIn" />
      <wsdl:output message="tns:PegarItemsTaxonomiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarItemTaxonomia">
      <wsdl:input message="tns:AdicionarItemTaxonomiaSoapIn" />
      <wsdl:output message="tns:AdicionarItemTaxonomiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletarItemTaxonomia">
      <wsdl:input message="tns:DeletarItemTaxonomiaSoapIn" />
      <wsdl:output message="tns:DeletarItemTaxonomiaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdicionarQuestao">
      <wsdl:input message="tns:AdicionarQuestaoSoapIn" />
      <wsdl:output message="tns:AdicionarQuestaoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMainSoap" type="tns:WebServiceMainSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarPartida">
      <soap:operation soapAction="http://tempuri.org/EncerrarPartida" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <soap:operation soapAction="http://tempuri.org/RecuperarSenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarUsuario">
      <soap:operation soapAction="http://tempuri.org/CriarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestoes">
      <soap:operation soapAction="http://tempuri.org/GetQuestoes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestoesRespostas">
      <soap:operation soapAction="http://tempuri.org/GetQuestoesRespostas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTaxonomia">
      <soap:operation soapAction="http://tempuri.org/InserirTaxonomia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomia">
      <soap:operation soapAction="http://tempuri.org/PegarTaxonomia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomias">
      <soap:operation soapAction="http://tempuri.org/PegarTaxonomias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTaxonomias">
      <soap:operation soapAction="http://tempuri.org/DeletarTaxonomias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarItemsTaxonomia">
      <soap:operation soapAction="http://tempuri.org/PegarItemsTaxonomia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarItemTaxonomia">
      <soap:operation soapAction="http://tempuri.org/AdicionarItemTaxonomia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarItemTaxonomia">
      <soap:operation soapAction="http://tempuri.org/DeletarItemTaxonomia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarQuestao">
      <soap:operation soapAction="http://tempuri.org/AdicionarQuestao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMainSoap12" type="tns:WebServiceMainSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutenticarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncerrarPartida">
      <soap12:operation soapAction="http://tempuri.org/EncerrarPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSenha">
      <soap12:operation soapAction="http://tempuri.org/RecuperarSenha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarUsuario">
      <soap12:operation soapAction="http://tempuri.org/AlterarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CriarUsuario">
      <soap12:operation soapAction="http://tempuri.org/CriarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestoes">
      <soap12:operation soapAction="http://tempuri.org/GetQuestoes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestoesRespostas">
      <soap12:operation soapAction="http://tempuri.org/GetQuestoesRespostas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirTaxonomia">
      <soap12:operation soapAction="http://tempuri.org/InserirTaxonomia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomia">
      <soap12:operation soapAction="http://tempuri.org/PegarTaxonomia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarTaxonomias">
      <soap12:operation soapAction="http://tempuri.org/PegarTaxonomias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarTaxonomias">
      <soap12:operation soapAction="http://tempuri.org/DeletarTaxonomias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PegarItemsTaxonomia">
      <soap12:operation soapAction="http://tempuri.org/PegarItemsTaxonomia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarItemTaxonomia">
      <soap12:operation soapAction="http://tempuri.org/AdicionarItemTaxonomia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarItemTaxonomia">
      <soap12:operation soapAction="http://tempuri.org/DeletarItemTaxonomia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdicionarQuestao">
      <soap12:operation soapAction="http://tempuri.org/AdicionarQuestao" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMain">
    <wsdl:port name="WebServiceMainSoap" binding="tns:WebServiceMainSoap">
      <soap:address location="http://localhost:4200/WebService/WebServiceMain.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMainSoap12" binding="tns:WebServiceMainSoap12">
      <soap12:address location="http://localhost:4200/WebService/WebServiceMain.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>